*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    width: '100%';
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  }

#search_bar {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    /* border-width: 3px; */
    /* border-color: red; */
}
h1 {
    text-align: center;

}

#search_bar_holder{
    display: flex;
    justify-content: center;
    /* background: red; */
}
/* #search-engine-icon {
    width: 15px;
} */

#icon-holder {
    /* background: white; */
    border: 0;
    border-color: red;
    width: 48px;
    height: 48px;
    justify-content: center;
    /* border-color: red; */
    /* width: 32px; */


}